@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Raleway', sans-serif;
  --font-opensans: 'Open Sans', sans-serif;

  --color-darkBlue: hsl(217, 28%, 15%);
  --color-darkBlue1: hsl(218, 28%, 13%);
  --color-darkBlue2: hsl(216, 53%, 9%);
  --color-darkBlue3: hsl(219, 30%, 18%);
  --color-accentCyan: hsl(176, 68%, 64%);
  --color-accentBlue: hsl(198, 60%, 50%);
  --color-lightRed: hsl(0, 100%, 63%);
}

.bg-logo {
  background-image: url('../images/logo-light-mode.svg');

  @variant dark {
    background-image: url('../images/logo-dark-mode.svg');
  }
}

.curvy {
  background-image: url('../images/bg-curvy-light-mode.svg');

  @variant dark {
    background-image: url('../images/bg-curvy-dark-mode.svg');
  }
}

.ficon:hover {
  filter: invert(80%) sepia(37%) saturate(7048%) hue-rotate(132deg) brightness(105%) contrast(104%);
}